.authPage {
    display: flex;
    min-height: calc(100vh - 210px);
    background-color: rgb(255, 255, 255);
}

.authContent {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-bottom: 100px;
}

.authTitle {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #333;
}

.authImage {
    width: 90%;
    max-width: 600px;
    height: auto;
}

.authFormContainer {
    width: 450px;
    padding: 60px 40px;
    background: white;
    position: relative;
    margin-right: 30px;
    z-index: 1;
}
