.searchPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.main {
    flex: 1;
    padding: 2rem 5%; 
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.searchContainer {
    display: flex;
    gap: 3rem; 
    justify-content: space-between;
    margin-top: 2rem; 
}

.textContent {
    flex: 1;
    max-width: 900px;
    margin-left: -5rem; 
}

.textContent h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.textContent p {
    font-size: 1.3rem;
    color: var(--black);
    margin-bottom: 3rem;
    font-weight: 400;
    line-height: 1.5;
}

.illustrations {
    flex-direction: column;
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    margin-top: -50rem;
}

.illustration {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}
